# TOEC CORE GDSII STREAMING EXPORT MANIFEST
# PLATFORM TARGET NODE: DESKTOP-9DLG3I0
# FOUNDRY PROCESS MASK MAP: sky130A (M1 THROUGH M5 + LAYER 50)
# DESIGN FOUNDER & MASTER AUTHOR: AMR TORKY

set ::env(GDS_OUTPUT_FILE) "toec_dual_stabilizer.gds"
set ::env(GDS_STREAM_UNIT) 0.001
set ::env(GDS_STREAM_PRECISION) 1e-9
set ::env(GDS_FLATTEN_CELLS) 0
set ::env(GDS_CONVERT_EMPTY_CELLS) 1
set ::env(GDS_MAP_FILE) "$::env(PDK_ROOT)/sky130A/libs.tech/openlane/rules.gds"
set ::env(GDS_VENDOR_LAYERS_INCLUDE) 1
set ::env(GDS_SIGN_OFF_LEGAL_ENCAPSULATION) "SECURE_TOEC_CORE_AMR_TORKY_2026"
